body{
  margin: 0;
  padding: 0;
}
.App{
  text-align: center;
  background-color: #555;
}
h1{
  font-size: 40px;
}
.anime--list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  grid-gap: 1.5rem;
  margin-left: 0;
  padding: 0;
}
.anime--list ul{
  padding: 0;
  margin-right: 0;
}
.anime--list img{
  max-width: 90%;
}

.pagination{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  list-style: none;

}
.pagination li + li {
  margin-left: 1rem;
}
.cleanBtn{
  margin-left: 15px;
}
.beforeAfter, .cleanBtn{
  background-color: #aaa;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
#btnList{
  font-size: 18px;
  background-color: #aaa;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}
.pagination--item--active{
  font-weight: bold;
  border: none;
}
.pagination--item--active:focus{
  outline: none;
  
}
footer{
  margin-top: 80px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #aaa;
}
footer a{
  text-decoration: none;
  color: #888;
}